<?xml version="1.0" encoding="UTF-8"?>
<!--
    The JUnit build system is using this file as a template.
    All users should ignore it.

    Settings Reference: http://maven.apache.org/ref/3.0.4/maven-settings/settings.html
-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- localRepository
    The path to the local repository maven will use to store artifacts.
    Default: ~/.m2/repository
    <localRepository>${user.home}/.m2/repository</localRepository>
    -->

    <servers>
        <!--
        Specifies the authentication information to use when connecting to a particular server, identified by
        a unique name within the system (referred to by the 'id' attribute below).
        -->
        <server>
            <id>junit-snapshot-repo</id>
            <username><!--a username registered with Sonatype for deployment--></username>
            <password><!--corresponding password--></password>
        </server>
        <server>
            <id>junit-releases-repo</id>
            <username><!--a username registered with Sonatype for deployment--></username>
            <password><!--corresponding password--></password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>junit-release</id>
            <properties>
                <gpg.keyname>...</gpg.keyname>
                <gpg.passphrase>...</gpg.passphrase>
                <gpg.defaultKeyring>false</gpg.defaultKeyring>
                <gpg.useagent>true</gpg.useagent>
                <gpg.homedir>/private/.../.gnupg</gpg.homedir>
                <gpg.publicKeyring>/private/.../.gnupg/pubring.gpg</gpg.publicKeyring>
                <gpg.secretKeyring>/private/.../.gnupg/secring.gpg</gpg.secretKeyring>
            </properties>
        </profile>
    </profiles>
</settings>
